
# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL="debug"

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=""

# The ID of your GitHub App
APP_ID=1098630

WEBHOOK_SECRET=""

PRIVATE_KEY=""

GITHUB_CLIENT_ID=""

GITHUB_CLIENT_SECRET=""

PERSPECTIVE_API_KEY=""

GROQ_API_KEY=""

MONGODB_URI="mongodb://root:my-secure-password@localhost:27017/peacemaker-bot?retryWrites=true&w=majority"

PORT=4000

OPENAI_API_KEY=""
