
# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL="debug"

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=""

# The ID of your GitHub App
APP_ID=1098630

WEBHOOK_SECRET=""

PRIVATE_KEY=""

GITHUB_CLIENT_ID=""

GITHUB_CLIENT_SECRET=""

PERSPECTIVE_API_KEY=""

DISCOVERY_URL="https://commentanalyzer.googleapis.com/$discovery/rest?version=v1alpha1"

GROQ_API_KEY=""

MONGODB_URI="mongodb://root:my-secure-password@localhost:27017/peacemaker-bot-poc?tls=false&directConnection=true&authSource=admin"

PORT=4000
